include ../section-heading/section-heading

mixin contact-form()
	#contact-form.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						i.icon-cancel
					+section-heading('Contact Us!')
				.modal-body
					form
						.form-group
							label(for="user-name") Your name
							input#user-name.form-control(type="text")

						.form-group
							label(for="user-email") Email address
							input#user-email.form-control(type="email")

						.form-group
							label(for="subject") Subject
							input#subject.form-control(type="text")

						.form-group
							label(for="user-message") How can we help you?
							textarea#user-message.form-control(rows="3")

						.text-center
							button.btn.sa-btn(type="submit") Submit
