.modal.fade.in
	.modal-content
		border-radius 1.5rem

	.modal-dialog
		max-width 67rem
		width 100%

		@media (max-width tablet)
			max-width 100%
			width auto

	.modal-header
		border-bottom 0
		padding-top 6.6rem

		@media (max-width tablet-down)
			padding 5.2rem 0 2.1rem 0

		.close
			opacity 1
			position absolute
			right 2.7rem
			top 2.7rem
			z-index 10

			@media (max-width mobile)
				right 2.2rem
				top 2.5rem

		i
			color pine-green
			font-size 2rem

	.section-heading
		margin-bottom 4.2rem
		margin-top 0

		@media (max-width tablet-down)
			margin-bottom 1.5rem

	.modal-body
		padding 0 5.3rem

		@media (max-width tablet)
			padding 0 2.2rem

	.form-group
		min-height 7rem
		margin-bottom 1rem
		position relative

		@media (max-width tablet-down)
			min-height 8.6rem

	label
		color azure
		font-size 1.8rem
		font-weight normal
		position absolute
		transform translateY(12px)
		transition all .2s ease
		cursor text
		letter-spacing 0.05em

		&.focus
			transform translateY(-10px)
			font-size 1.3rem

	input,
	textarea
		border none
		border-bottom 1px solid azure
		border-radius 0
		box-shadow none
		color pine-green
		font-size 1.6rem
		height auto
		padding 1.1rem 0
		position relative
		z-index 10
		background-color transparent
		letter-spacing 0.05em

	textarea
		margin-top 2.8rem
		margin-bottom 3rem
		min-height 17rem

		@media (max-width tablet-down)
			margin-top 0
			margin-bottom 1.9rem
			min-height 12rem

	.sa-btn
		margin-bottom 3rem
		margin-top 1rem
		width 100%
		max-width 24rem

		@media (max-width tablet-down)
			margin-bottom 6rem
			text-transform uppercase

	.section-heading
		h2
			font-size 7rem
			font-weight 600
			letter-spacing 0.05em
			text-transform uppercase

			@media (max-width tablet-down)
				font-size 5.6rem
				text-transform none

		&__duplicate
			top 20%

			@media (max-width tablet-down)
				//top -7%
				text-transform none

		&__heading
			font-size 4.2rem
			letter-spacing 0.05em
			font-weight 600
			text-transform uppercase

			@media (max-width tablet-down)
				text-transform none

#contact-form

	.modal-content

		.section-heading__duplicate

			@media (max-width 400px)
				width 93%


#contact-form-lms

	.modal-content

		.section-heading__duplicate

			@media (max-width 993px)
				width 62%

			@media (max-width 602px)
				width 72.2%

			@media (max-width 449px)
				width 88.2%

#contact-form-api

	.modal-content

		.section-heading__duplicate
			@media (max-width 400px)
				width 90%
