include ../section-heading/section-heading
include ../checked-list/checked-list
include ../preview/preview

mixin apps()
	+b.apps(id="apps")
		.container
			+e.top-description
				+section-heading("Apps")

			+e.preview
				+preview

			+e.bottom-description
				+e.description-item
					h3.text-center Dictionary app that teaches speaking English.

					.row
						.col-md-8.col-md-push-2
							.row
								.col-md-6
									p 1SpeechAce app teaches correct English pronunciation and eliminates your accent one word at a time.
								.col-md-6
									+checked-list
										li Search over 80,000 English words.
										li Listen to the correct pronunciation in both male and female voices.
										li Speak the word and receive phoneme level feedback on your pronunciation instantly.
										li Practice the word as many times as you like.

				+e.description-item
					h3.text-center Dictionary app that teaches speaking English.

					.row
						.col-md-8.col-md-push-2
							.row
								.col-md-6
									p 2SpeechAce app teaches correct English pronunciation and eliminates your accent one word at a time.
								.col-md-6
									+checked-list
										li Search over 80,000 English words.
										li Listen to the correct pronunciation in both male and female voices.
										li Speak the word and receive phoneme level feedback on your pronunciation instantly.
										li Practice the word as many times as you like.

				+e.description-item
					h3.text-center Dictionary app that teaches speaking English.

					.row
						.col-md-8.col-md-push-2
							.row
								.col-md-6
									p 3SpeechAce app teaches correct English pronunciation and eliminates your accent one word at a time.
								.col-md-6
									+checked-list
										li Search over 80,000 English words.
										li Listen to the correct pronunciation in both male and female voices.
										li Speak the word and receive phoneme level feedback on your pronunciation instantly.
										li Practice the word as many times as you like.

				+e.description-item
					h3.text-center Dictionary app that teaches speaking English.

					.row
						.col-md-8.col-md-push-2
							.row
								.col-md-6
									p 4SpeechAce app teaches correct English pronunciation and eliminates your accent one word at a time.
								.col-md-6
									+checked-list
										li Search over 80,000 English words.
										li Listen to the correct pronunciation in both male and female voices.
										li Speak the word and receive phoneme level feedback on your pronunciation instantly.
										li Practice the word as many times as you like.
