include ../hamburger-menu/hamburger-menu

mixin nav()
	+b.NAV.nav

		+e.nav-wrapper

			// Left sie menu
			+e.menu-left.col-md-5.pull-left
				ul
					li
						a(href="#home") hOME
					li
						a(href="#what-we-do") What We Do
					li
						a(href="#api") API
					li
						a(href="#apps") Apps
					li
						a(href="#lms") LMS

			// Logo
			+e.logo
				a(href="index.html")
					img(src="images/logo-top.png" data-rjs="3")

			+e.secondary-logo
				a(href="index.html")
					img(src="images/logo.png" data-rjs="3")

			// Right side menu
			+e.menu-right.col-md-5.pull-right
				ul
					li
						a(href="#moodle") Moodle
					li
						a(href="#customers") Customers
					li
						a(href="#try-now") Try Now
					li
						a(href="#team") Team
					li
						a(href="#contact-us" class="contact-us") Contact Us

			+e.contact-btn(class="text-center")
				button#btn-contact-us-nav.btn.sa-btn(data-toggle="modal" data-target="#contact-form") Contact Us

			+e.mobile-menu
				+hamburger-menu
