include ../section-heading/section-heading
include ../checked-list/checked-list
include ../management-logos/management-logos

mixin management-system()
	+b.management-system(id="lms")
		.container
			+e.top-description
				+section-heading("Learning Management System")
				h3.text-center Create online pronunciation practice content based on our speech recognition technology.
			+e.logos
				.col-md-10.col-md-push-1
					+management-logos
			+e.main
				.container
					.row
						.col-md-6
							//+e.lines
							//	img(src="images/lines.png" data-rjs="3")
							+e.__video-wrapper
								img.play-button(src="images/play.png" data-rjs="3")
								img.img-responsive(src="images/video.png" data-rjs="3")
						.col-md-6
							+checked-list
								li We can integrate with Moodle, Blackboard, Canvas and any other learning management system of your choice. Moodle users can utilize our speech recognition plugin for Moodle. Other LMSes can integrate our technology through custom plugins or LTI technology.
								li Create customized pronunciation training material for your class. We assemble your content and generate expert speaker audio for reference.
								li Monitor student performance and provide personalized feedback for improvement.

			+e.btn-group
				button.btn.sa-btn Other LMS Options
				button.btn.sa-btn Free Moodle Trial
