.preview
	display block

	&__items-wrapper
		margin-bottom 0.9rem

	&__item
		//display flex
		display block
		flex-grow 1
		justify-content center

	.slick-current

		.preview__descr
			color avocado-two

		.preview__phone
			transform scale(1.14)

			img
				box-shadow: 0 0 25px 0 rgba(0,53,118,0.25);

		.controls__item
			border solid 4px avocado-two
			height 3.6rem
			width 3.6rem

		.controls__inner
			background-color avocado-two
			visibility visible
			transform scale(1)
			opacity 1

		@media (max-width tablet-down)
			//padding 1rem

	&__phone
		border-radius 27px / 31px 31px 31px 31px
		transition all .3s ease-in-out

		&--active
			//box-shadow 0 0 25px 0 rgba(0, 53, 118, .25)
			transform scale(1.14)

			img
				box-shadow 0 0 25px 0 rgba(0, 53, 118, .25)

			@media (max-width tablet-down)
				box-shadow none
				transform none

	&__download
		margin-top 2.4rem
		display flex
		align-items center
		justify-content center
		height 7rem

		@media (max-width tablet)
			margin-top 8.4rem
			height auto
			display block

		img
			border-radius 0 !important

	&__descr
		color azure
		display flex
		flex-direction column
		font-size 15.9px
		font-weight 500
		line-height 1.51
		padding 0 2rem 0 2rem
		height 12.4rem
		display flex
		align-items center
		justify-content center
		text-align center
		text-transform uppercase

		@media (max-width tablet-down)
			height auto
			padding 6rem 2rem 1rem 2rem

	.slick-slide img
		border-radius 27px / 31px 31px 31px 31px
		//box-shadow 0 0 25px 0 rgba(0, 53, 118, .25)
		margin 0 auto

	.slick-next,
	.slick-prev
		top 83%
		z-index 1
		width 16px
		height 23px

		@media (max-width tablet)
			top 75%

	.slick-prev
		left 28.3rem

		@media (max-width tablet-up)
			left 22rem

		@media (max-width tablet)
			left 0.3rem

	.slick-next
		right 28.3rem

		@media (max-width tablet-up)
			right 22rem

		@media (max-width tablet)
			right 0.3rem

	.slick-prev:before,
	.slick-next:before
		color bright-cyan
		font-size 2.8rem
		opacity .25

	.slick-prev:before
		content '\e901'
		font-family icon-font
		opacity .25

	.slick-next:before
		content '\e902'
		font-family icon-font

	.slick-dots
		bottom -2.8rem
		@media (max-width tablet)
			bottom 10.3rem

.controls
	&__wrapper
		display flex
		flex-grow 1
		justify-content center
		margin-top 7rem
		position relative

		.controls__line
			border-bottom 2px solid bright-cyan
			opacity .25
			display block
			left 50%
			position absolute
			top 0
			width 100%

		&:not(:last-child)
			.controls__line
				border-bottom 2px solid bright-cyan
				display block
				left 50%
				position absolute
				top 0
				width 100%

		&--active
			.controls__item
				background-color white
				border solid 4px avocado
				height 3.6rem
				width 3.6rem

			.controls__inner
				opacity 1
				transform scale(1)
				visibility visible

			.controls__description
				color avocado

	&__inner
		background-color avocado-two
		border-radius 50%
		height 2rem
		opacity 0
		transform scale(.1)
		transition all .3s ease
		visibility hidden
		width 2rem

	&__item
		align-items center
		background-color white
		border solid 4px bright-cyan
		border-radius 50%
		display flex
		height 20px
		justify-content center
		left 50%
		position absolute
		transform translate(-50%, -50%)
		transition all .3s ease
		width 20px
		z-index 1

		@media (max-width mobile)
			display none

	&__line
		@media (max-width mobile)
			display none

	&__description
		align-items center
		color azure
		display block
		flex-direction column
		font-size 1.6rem
		font-weight 500
		padding-top 4.5rem
		padding-left 7rem
		padding-right 7rem
		position relative
		text-align center
		text-transform uppercase

		@media (max-width tablet)
			padding-top 0
			top -2rem
			color #7db52d
