// *****************************************************************************
// Main styles
// *****************************************************************************

html
	font-size 62.5%

body
	font-family 'Raleway', sans-serif
	font-size 1.6rem

h1
	color pine-green
	font-size 6rem
	line-height 1.0

h2
	color azure
	font-size 5.24rem
	font-weight 500
	text-align center

h3
	color pine-green
	font-size 2.4rem

	@media (max-width tablet-down)
		font-size 2rem

a
	cursor pointer
	transition all .3s ease-in-out

p
	font-size 1.6rem
	line-height 1.5
