// *****************************************************************************
// Main styles
// *****************************************************************************

html
	font-size 62.5%

body
	font-size 1.6rem

h1
	font-size 4rem

h2
	font-size 3rem

h3
	font-size 2rem


a
	font-size 1.6rem

p
	font-size 1.6rem
