.sa-btn
	background-color avocado
	border-radius 10px
	box-shadow 1px 1.7px 5px 0 rgba(0, 53, 118, .5)
	color white
	font-size 2.2rem
	font-weight 500
	padding 1.1rem 3.2rem
	text-align center
	transition background .3s ease-in-out, color .25s ease


	&:focus,
	&:hover,
	&:active
		background-color bright-cyan
		box-shadow 1px 1.7px 5px 0 rgba(0, 53, 118, .5)
		color white
