// *****************************************************************************
// Fonts
// *****************************************************************************

icon-font = icomoon


// *****************************************************************************
// Colors
// *****************************************************************************

white = #ffffff
duck-egg-blue = #eef7fd
azure = #00ade9
azure-two = #01ade9
deep-sea-blue = #065c88
light-cyan = #a8ebff
pine-green = #0c2d3d
steel = #758495
black = #000000
duck-egg-blue-two = #e5f6fc
avocado = #7db52d
white-75 = rgba(255, 255, 255, .75)
spring-green = #b8ee6b
water-blue = #18a0dd
dark-sky-blue = #22aae7
azure-three = #22b7f2
water-blue-two = #179edb
avocado-two = #7fb431
dark-sky-blue-two = #24b3ea
azure-four = #129de5
bright-sky-blue = #27bff2
azure-five = #19b5e7
water-blue-three = #1aace3
water-blue-four = #199adb
water-blue-five = #1798d9
duck-egg-blue-three = #dbeff7
bright-cyan = #40d3ff
brownish = #a75a54
tomato = #e74c1c
turtle-green = #7ac05c
bright-cyan-85 = rgba(64, 211, 255, 0.85)


// *****************************************************************************
// Media
// *****************************************************************************

mobile = 414px
mobile-down = mobile - 1
tablet = 768px
tablet-down = tablet - 1
tablet-up = 992px
hd = 1921px
hd-down = hd - 1
