mixin management-logos()
	+b.management-logos
		.col-md-2
			img(src="images/moodle-logo.png" data-rjs="3")
		.col-md-2
			img(src="images/blackboard-logo.png" data-rjs="3")
		.col-md-2
			img(src="images/sanvas-logo.png" data-rjs="3")
		.col-md-2
			img(src="images/sakai-logo.png" data-rjs="3")
		.col-md-2
			img(src="images/webct-logo.png" data-rjs="3")
