.management-logos
	display flex
	justify-content space-between
	flex-wrap wrap
	margin 1.8rem 0

	.col-md-2
		flex-basis 20%

	@media (max-width tablet-down)
		flex-wrap wrap

		.col-md-2
			flex-basis 100%

.management-logos img
	transition all .4s
	filter grayscale(100%)

	&:hover
		filter grayscale(0)
		cursor: pointer

	@media (max-width tablet-down)
		flex-direction column

.col-md-2
	align-items center
	display flex
	flex-grow 1
	justify-content center
	margin 2rem 0

	@media (max-width tablet-down)
		margin 3rem 0
