include ../section-heading/section-heading
include ../api-steps/api-steps

mixin section-api()
	+b.section-api(id="api")
		.container
			+e.top-description(class="text-center")
				+section-heading('SpeechAce API')
				h3 Web based API for evaluating any audio sample.

			.col-md-12.section-api__wrapper
				+api-steps()

			.col-md-8.col-md-push-2
				+e.bottom-description(class="text-center")
					p As of now we only share our API with a limited set of partners. If you are interested in using our API then please send us a request using the form in the Contact section below and we will get back to you within 24 hours.
