.trusted-card
	align-items center
	background-color white
	border solid 1px duck-egg-blue-two
	border-radius 1rem
	display flex
	justify-content center
	margin 0 1.6rem

	&__wrapper

		img
			transition all .3s
			filter grayscale(100%)

			&:hover
				filter grayscale(0)
