.api-steps
	display flex
	flex-direction row
	justify-content space-around

	@media (max-width tablet-down)
		align-items center
		flex-direction column

.api-steps__item
	padding 0 .7rem
	position relative

	img
		position relative

	@media (max-width tablet-down)
		margin 1.2rem

	&::before
		border-left 2px dashed white
		border-right 2px dashed white
		content ''
		height 6rem
		left 50%
		opacity .5
		position absolute
		width 100%

		@media (max-width tablet-down)
			height calc(100% + 2.4rem)

	&:nth-child(2n+1)

		&::before
			border-top 2px dashed white
			border-top-left-radius 2rem
			border-top-right-radius 2rem
			top -6rem

			@media (max-width tablet-down)
				border-bottom 2px dashed white
				border-bottom-right-radius 2rem
				border-left 0
				left 4rem
				top 50%

	&:last-child
		&::before
			display none

	&:nth-child(2n)

		&::before
			border-bottom 2px dashed white
			border-bottom-left-radius 2rem
			border-bottom-right-radius 2rem
			bottom -6rem

			@media (max-width tablet-down)
				border-right 0
				border-top 2px dashed white
				border-top-left-radius 2rem
				bottom calc(-50% - 2.4rem)
				left -4rem
