mixin api-steps()
	+b.api-steps&attributes(attributes)
		+e.item
			img(src="images/item-1.png" class="img-responsive" data-rjs="3")
		+e.item
			img(src="images/item-2.png" class="img-responsive" data-rjs="3")
		+e.item
			img(src="images/item-3.png" class="img-responsive" data-rjs="3")
		+e.item
			img(src="images/item-4.png" class="img-responsive" data-rjs="3")
		+e.item
			img(src="images/item-5.png" class="img-responsive" data-rjs="3")
