mixin team-gallery()
	+b.team-gallery&attributes(attributes)
		+e.item
			+e.wrapper
				img(src="images/item-1.jpg")
				+e.person-info
					+e.name John Doe
					+e.position Position

		+e.item
			+e.wrapper
				img(src="images/item-2.jpg")
				+e.person-info
					+e.name Yveline Van Anh
					+e.position Computational Linguist

		+e.item
			+e.wrapper
				img(src="images/item-3.jpg")
				+e.person-info
					+e.name Yveline Van Anh
					+e.position Computational Linguist

		+e.item
			+e.wrapper
				img(src="images/item-4.jpg")
				+e.person-info
					+e.name Yveline Van Anh
					+e.position Computational Linguist

		+e.item
			+e.wrapper
				img(src="images/item-5.jpg")
				+e.person-info
					+e.name Yveline Van Anh
					+e.position Computational Linguist

		+e.item
			+e.wrapper
				img(src="images/item-6.jpg")
				+e.person-info
					+e.name Yveline Van Anh
					+e.position Computational Linguist
		+e.item
			+e.wrapper
				img(src="images/item-7-placeholder-1.png")
				+e.person-info
					+e.name Yveline Van Anh
					+e.position Computational Linguist
		+e.item
			+e.wrapper
				img(src="images/item-8-placeholder-2.png")
				+e.person-info
					+e.name Yveline Van Anh
					+e.position Computational Linguist
