.what-we-do
	display block
	overflow hidden

	&__top-description

		margin-bottom 4.3rem
		margin-top 6.4rem
		position relative

		@media (max-width tablet-down)
			margin-bottom 3.9rem
			margin-top 12.3rem

		h3
			margin-top 1.5rem

			@media (max-width tablet-down)
				margin-top 1.9rem

	&__images
		margin-bottom 5.8rem

	&__bottom-description
		margin-bottom 6rem

		@media (max-width tablet-down)
			margin-bottom 3.4rem
			margin-top 8.3rem

.img-slider
	display flex

	&__item
		float left

		&:first-child
			max-width 57.7%
			width 100%

		&:last-child
			max-width 42.3%
			width 100%

.slick-dots
	bottom -5.2rem
	left 0

	li
		&.slick-active
			button
				&:before
					color bright-cyan
					opacity 1

		button
			&:before
				color #d5dee8
				font-size 1.4rem
				margin 0 1px
				opacity 1
