mixin footer()
	+b.FOOTER.footer&attributes(attributes)
		.container
			h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem voluptatibus architecto voluptas laboriosam recusandae repellat, nam ullam eum. Illum rem fugit quod debitis vel, magni impedit voluptates repellat harum a!

