.footer
	display block
	position relative
	text-align center

	&__logo
		display flex
		justify-content center
		margin-bottom 3.7rem
		margin-top 5rem

	&__privacy
		display flex
		flex-direction row
		justify-content center

	&__privacy-wrapper
		display flex
		justify-content space-between
		margin-bottom 2.7rem
		max-width 38rem
		width 100%

		@media (max-width tablet-down)
			flex-direction column
			margin-bottom 1.1rem

		a
			color pine-green
			font-size 1.4rem
			font-weight 600

			@media (max-width tablet-down)
				margin-bottom 3.5rem

	&__social
		display flex
		justify-content center
		margin-bottom 3rem

		@media (max-width tablet-down)
			margin-bottom 5.7rem

		ul
			align-items center
			display flex
			flex-direction row
			justify-content space-between
			list-style-type none
			margin 0
			max-width 12rem
			padding 0
			width 100%

		i
			color avocado
			font-size 2.2rem
			transition color .3s ease-in-out

			&:focus,
			&:hover,
			&:active
				color bright-cyan

	&__copyright
		p
			font-weight 600
			margin-bottom 2.5rem

			@media (max-width tablet-down)
				font-size 1.2rem
				margin-bottom 4.7rem
				text-transform uppercase

	a
		&:hover
			color #40d3ff
			text-decoration none

